Repository jayminwest/TeachNicheOfficial, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @typescript-expert, @react-expert, @app-expert

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
*       @your-username

# Order is important; the last matching pattern takes precedence
*.ts    @typescript-expert
*.tsx   @react-expert
/app/   @app-expert

feat: Add lesson request schema and update imports
  lib/schemas/lesson-request.ts
  lib/supabase/requests.ts
Owners: @typescript-expert

fix: Add user authentication and error handling to request form submission
  app/requests/components/request-form.tsx
Owners: @app-expert

fix: Add toast import and improve error handling in request form
  app/requests/components/request-form.tsx
Owners: @app-expert

fix: Resolve Supabase RLS issue by using direct client insert method
  app/requests/components/request-form.tsx
Owners: @app-expert

fix: Change lesson request status from 'pending' to 'open'
  app/requests/components/request-form.tsx
Owners: @app-expert

fix: Improve authentication check and error handling for voting
  app/requests/components/request-card.tsx
  lib/supabase/requests.ts
Owners: @app-expert, @typescript-expert

fix: Improve auth handling in request card vote functionality
  app/requests/components/request-card.tsx
  lib/supabase/requests.ts
Owners: @app-expert, @typescript-expert

fix: Improve session validation for request voting
  app/requests/components/request-card.tsx
  lib/supabase/requests.ts
Owners: @app-expert, @typescript-expert

fix: Import and initialize Supabase client in request-card component
  app/requests/components/request-card.tsx
Owners: @app-expert

feat: Add logging to debug voting functionality in request system
  app/requests/components/request-card.tsx
  lib/supabase/requests.ts
Owners: @app-expert, @typescript-expert

test: Add comprehensive tests for request components
  app/requests/components/__tests__/request-card.test.tsx
  app/requests/components/__tests__/request-form.test.tsx
  app/requests/components/__tests__/request-grid.test.tsx
Owners: @app-expert

fix: Configure Jest for ES modules and improve request form tests
  __tests__/requests/request-form.test.tsx
Owners: @react-expert

test: Add comprehensive tests for RequestForm component
  __tests__/requests/request-form.test.tsx
Owners: @react-expert

fix: Update Jest config and test to handle ES modules and improve test reliability
  jest.config.js
Owners: @your-username

test: Update request form error handling test with expect.objectContaining and timeout
  __tests__/requests/request-form.test.tsx
Owners: @react-expert

fix: Add TextEncoder polyfill and improve request form test setup
  app/requests/components/__tests__/request-form.test.tsx
  jest.setup.ts
Owners: @app-expert, @typescript-expert

test: Fix TextEncoder and Supabase client mocking for tests
  app/requests/components/__tests__/request-card.test.tsx
  app/requests/components/__tests__/request-grid.test.tsx
  jest.setup.js
Owners: @app-expert, @your-username

fix: Add missing imports and update test cases for request components
  app/requests/components/__tests__/request-card.test.tsx
  app/requests/components/__tests__/request-grid.test.tsx
  app/requests/components/request-grid.tsx
Owners: @app-expert

fix: Resolve test mocking and state update issues in request components
  app/requests/components/__tests__/request-card.test.tsx
  app/requests/components/__tests__/request-grid.test.tsx
Owners: @app-expert

test: Add aria-labels and fix JSX transform for tests
  app/requests/components/__tests__/request-grid.test.tsx
  app/requests/components/request-card.tsx
  jest.config.js
Owners: @app-expert, @your-username

fix: Remove invalid runtime option from Jest babel configuration
  jest.config.js
Owners: @your-username

test: Fix RequestGrid async rendering and empty state tests
  app/requests/components/__tests__/request-grid.test.tsx
  app/requests/components/request-grid.tsx
Owners: @app-expert
