Repository jayminwest/TeachNicheOfficial, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @typescript-expert, @react-expert, @app-expert

Create SECURITY.md
  SECURITY.md
Owners: @your-username

Update SECURITY.md
  SECURITY.md
Owners: @your-username

docs: Add comprehensive Git branching strategy to developer guidelines
  ai_docs/DEVELOPER_GUIDELINES.md
Owners: @your-username

docs: Rename "develop" branch to "dev" in documentation
  ai_docs/DEVELOPER_GUIDELINES.md
Owners: @your-username

feat: Enhance developer guidelines with security, performance, and deployment sections
  ai_docs/DEVELOPER_GUIDELINES.md
Owners: @your-username

docs: Add mandatory test case requirement to developer guidelines
  ai_docs/DEVELOPER_GUIDELINES.md
Owners: @your-username

chore: Update .gitignore to exclude AI code generation tools directory
  .gitignore
Owners: @your-username

chore: Update .gitignore and .aiderignore to manage code generation tools directory
  .gitignore
Owners: @your-username

fix: Remove duplicate gitignore entry for code_gen_tools
  .gitignore
Owners: @your-username

fix: Update test-utils.tsx with enhanced testing utilities
  __tests__/setup/test-utils.tsx
Owners: @react-expert

feat: Add autonomous code generation tool with Aider agent and configuration
  ai_docs/code_gen_tools/auto-test-gen.py
  ai_docs/code_gen_tools/auto_aider_config.yaml
Owners: @your-username

fix: Update test generation config and template in auto-test-gen.py and auto_aider_config.yaml
  ai_docs/code_gen_tools/auto-test-gen.py
  ai_docs/code_gen_tools/auto_aider_config.yaml
Owners: @your-username

refactor: Update code execution and evaluation to support sequential test and build verification
  ai_docs/code_gen_tools/auto-test-gen.py
  ai_docs/code_gen_tools/auto_aider_config.yaml
Owners: @your-username

feat: Add component directory processing and test generation support to auto-test-gen script
  ai_docs/code_gen_tools/auto-test-gen.py
Owners: @your-username

docs: Add test writing prompt documentation file
  ai_docs/code_gen_tools/test_writing_prompt.md
Owners: @your-username

docs: Add comprehensive test generation guidelines for component testing
  ai_docs/code_gen_tools/test_writing_prompt.md
Owners: @your-username

(no commit message provided)
  ai_docs/code_gen_tools/auto-test-gen.py
  ai_docs/code_gen_tools/auto_aider_config.yaml
Owners: @your-username

refactor: Update AiderAgentConfig to use execution_commands list
  ai_docs/code_gen_tools/auto-test-gen.py
  ai_docs/code_gen_tools/auto_aider_config.yaml
Owners: @your-username

refactor: Modify auto-test-gen.py to process components iteratively with user control
  ai_docs/code_gen_tools/auto-test-gen.py
Owners: @your-username

fix: Remove undefined high_level_idea variable and simplify prompt handling
  ai_docs/code_gen_tools/auto-test-gen.py
Owners: @your-username

fix: Resolve file name length issue in auto-test-gen script
  ai_docs/code_gen_tools/auto-test-gen.py
Owners: @your-username

fix: Add missing Supabase environment variables to Jest setup
  jest.setup.js
Owners: @your-username

test: Add test for handling country not supported Stripe error
  __tests__/components/ui/stripe-connect-button.test.tsx
Owners: @react-expert

test: Add test for handling missing redirect URL from server
  __tests__/components/ui/stripe-connect-button.test.tsx
Owners: @react-expert

test: Add test for locale handling in Stripe connect button
  __tests__/components/ui/stripe-connect-button.test.tsx
Owners: @react-expert

update
  .gitignore
  ai_docs/code_gen_tools/.gitkeep
  components/ui/**/*.ts
  components/ui/**/*.tsx
  package-lock.json
  package.json
  vercel.json
Owners: @your-username, @typescript-expert, @react-expert

docs: Update scratchpad with lesson requests development plan
  ai_docs/scratchpad.md
Owners: @your-username

The updated scratchpad looks comprehensive and well-structured. Would you like me to proceed with creating the first set of files for the lesson requests feature? I recommend starting with:
  ai_docs/scratchpad.md
Owners: @your-username

feat: Add consistent naming and types for lesson requests
  app/lib/schemas/lesson-request.ts
  app/lib/supabase/requests.ts
  app/lib/types.ts
Owners: @app-expert

refactor: improve data handling with optional fields and consistent defaults
  app/lib/schemas/lesson-request.ts
  app/lib/supabase/requests.ts
  app/lib/types.ts
Owners: @app-expert

feat: Implement lesson requests feature with form, validation, and navigation
  app/lib/schemas/lesson-request.ts
  app/lib/supabase/requests.ts
  app/requests/components/request-form.tsx
  components/ui/header.tsx
Owners: @app-expert, @react-expert

feat: Add lesson request system with voting and filtering
  app/api/requests/route.ts
  app/api/requests/vote/route.ts
  app/requests/components/request-card.tsx
  app/requests/components/request-grid.tsx
  app/requests/page.tsx
Owners: @app-expert

refactor: Update import paths for Supabase requests module
  app/requests/components/request-card.tsx
  app/requests/components/request-grid.tsx
Owners: @app-expert

fix: Update import paths for Supabase requests module
  app/requests/components/request-card.tsx
  app/requests/components/request-grid.tsx
Owners: @app-expert

fix: Move requests.ts to correct location and resolve import error
  app/lib/supabase/requests.ts
Owners: @app-expert

refactor: Remove duplicate code in requests.ts file
  app/lib/supabase/requests.ts
Owners: @app-expert

fix: Improve vote handling in lesson request voting logic
  app/lib/supabase/requests.ts
Owners: @app-expert

fix: Update import paths for Supabase requests module
  app/lib/supabase/requests.ts
  app/requests/components/request-card.tsx
Owners: @app-expert

fix: Update import path for voteOnRequest in request-card.tsx
  app/requests/components/request-card.tsx
Owners: @app-expert

fix: Move requests.ts to correct location and resolve import error
  lib/supabase/requests.ts
Owners: @typescript-expert

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
*       @your-username

# Order is important; the last matching pattern takes precedence
*.ts    @typescript-expert
*.tsx   @react-expert
/app/   @app-expert
